PORT=3000
API_KEY=13243578987654hfvdgvebvfbffbbdbvfgvfebvd
COOKIE_SECRET=2345gdjdfwfryuteue64t4543gfyrygrfr
JWT_SECRET=1ertryuikl123dfghjfrehfegrywgfhjerg768
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

